body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Color de fondo */
  }

  #subtitle {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.search input {
    padding: 8px;
    width: 200px;
}

.user {
    position: relative;
    cursor: pointer;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 15px;
}
.user-menu strong {
    color: black;
}
.user-menu p {
    margin: 0px;
    margin-top: 10px;
}
#admin-label {
    color: #3498db;
}
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px;
  }
  
  h1 {
    color: #3498db; /* Color principal */
  }
  
  .products, .orders {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  .products img {
    width: 30px;
  }
  .products li {
    display: grid;
    width: 550px;
    grid-template-columns: 10% 60% 15% 15%;
    column-gap: 10px;
  }
  .orders  li {
    display: grid;
    width: 550px;
    grid-template-columns: 50% 20% 15% 15%;
    column-gap: 10px;
    
  }
  
  /* Botones */
  button {
    padding: 10px;
    background-color: #3498db; /* Color principal de botones */
    color: #ffffff; /* Texto en botones */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color */
  }
  
  button:hover {
    background-color: #2980b9; /* Color al pasar el ratón */
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #3498db; /* Color principal */
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    color: #3498db; /* Color principal */
    font-weight: bold;
  }
  
  input, textarea {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  .delete-btn {
    background-color: #e74c3c;
  }

  /* Estilos para el modal */
.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -20%;
    left: 15%;
  }
  
  /* Estilos para los inputs en el modal */
  label {
    color: #3498db;
    font-weight: bold;
  }
  
  input, textarea {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }

  /* Estilos adicionales según sea necesario */

/* Estilos para el modal de editar orden de compra */
#editOrderModal .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Estilos para el input de selección en el modal */
  #editOrderModal select {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  /* Estilos adicionales según sea necesario */

/* Estilos para el modal de eliminación */
#deleteModal .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  #deleteModal p {
    margin-bottom: 15px;
  }
  
  #deleteModal button {
    padding: 10px;
    margin-right: 10px;
    background-color: #e74c3c; /* Color de botón de eliminación */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #deleteModal button:hover {
    background-color: #c0392b; /* Color al pasar el ratón */
  }
  