body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #subtitle {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

.logo > a {
  color: white;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.search input {
    padding: 8px;
    width: 200px;
}

.user {
    position: relative;
    cursor: pointer;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 15px;
}
.user-menu strong {
    color: black;
}
.user-menu p {
    margin: 0px;
    margin-top: 10px;
}
#admin-label {
    color: #3498db;
}

main {
    padding: 20px;
}

  
  main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .cart, .checkout {
    width: 45%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  img {
    max-width: 80px;
    margin-right: 10px;
  }
  
  .product-info {
    flex-grow: 1;
  }
  
  #total-price {
    font-weight: bold;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2694dd;
  }
  
  .quantity-btn, .remove-btn {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  